@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.Gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .Gallery h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;

  }

  .Gallery .AuthButtonComponent{
    display: flex;
    justify-content:  flex-end ;
  }
  
  .Gallery .AuthButtonComponent button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
  }

  .Gallery .start{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Gallery .start h1 {
    color: red;
  }

  .UploadComponent {
    margin-bottom: 20px;
  }
  
  
  .gallerygrid {
    column-count: 4;
    gap: 1rem;
    padding: 1rem;
  }
  
  .imagewrapper {
    position: relative;
    overflow: hidden;
    margin: 4px;
  }
  
  .Image {
    object-fit: cover;
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }


  .Image:hover {
    transform: scale(1.05);
  }

  .DeleteButtonComponent button {
    position: absolute;
    border: none;
    top: 5px;
    right: 5px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
  }

  .DeleteButtonComponent{
    display: none;
  }

  .imagewrapper:hover >  .DeleteButtonComponent{
    display: block;
  }

  body{
    margin: 0;
  }

  .buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
  }